.contactItem {
    display: flex;
    align-items: center;
    padding: 10px;

&:nth-child(2n) {
    background-color: var(--secondaryBackgroundColor);
}
}

.contactText {
    font-size: 20px;
    min-width: 400px;
    font-weight: 500;
    color: var(--accentColor);
}

.phoneText {
    min-width: 300px;
    font-weight: 500;
    color: var(--primaryTextColor);
}