.contactItem {
    display: flex;
    align-items: center;
    padding: 10px;

&:nth-child(2n) {
    background-color: var(--secondaryBackgroundColor);
}
&:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
&:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
}

.contactText {
    font-size: 14px;
    font-weight: 500;
    min-width: 100px;
    color: var(--accentColor);

    @media screen and (min-width: 1200px) {
        font-size: 20px;
        min-width: 400px;
    }
}

.phoneText {
    font-size: 14px;
    font-weight: 500;
    min-width: 100px;
    color: var(--primaryTextColor);

    @media screen and (min-width: 1200px) {
        min-width: 300px;
        font-size: 20px;
        min-width: 400px;
    }
}