.button {
    display: block;
    margin-left: 20px;
    padding: 13px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.15em;
    color: var(--accentColor);
    border: 2px solid var(--accentColor);
    border-radius: 10px;
    background-color: transparent;
    transition: background-color var(--mainDuration) var(--mainTimingFunction), color var(--mainDuration) var(--mainTimingFunction);


    &:hover {
        color: var(--secondaryBackgroundColor);
        background-color: var(--accentColor);
    }
    &:focus {
        color: var(--primaryTextColor);
        background-color: var(--accentColor);
    }

}