.navigation {
    @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
}

.main-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 30px;

    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
        margin-top: 0;

    }
}

.auth-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 30px;

    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
        margin-top: 0;

    }
}

.nav-item {
    padding: 10px 0px;
}

.nav-item:not(:first-child) {
    margin-left: 20px;
}

.nav-link {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: var(--accentColor);
    border: 1px solid var(--accentColor);
    border-radius: 10px;
    transition: background-color var(--mainDuration) var(--mainTimingFunction), color var(--mainDuration) var(--mainTimingFunction);

&-active {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: var(--secondaryBackgroundColor);
    background-color: var(--accentColor);
    border-radius: 10px;
}

&:hover {
    color: var(--secondaryTextColor);
    border: 1px solid var(--secondaryTextColor);
}
}