.form {
    display: flex;
    align-items: center;

    & label {
        margin-left: 20px;
        margin-bottom: 5px;
        font-size: 20px;
        color: var(--accentColor);
    }
}

.input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 250px;
    height: 30px;
    font-size: 30px;
    border: 1px solid var(--accentColor);
    border-radius: 10px;
    background-color: var(--primaryTextColor);
    outline-color: var(--outlineColor);
}

.button {
    display: block;
    margin-left: 20px;
    padding: 13px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.15em;
    color: var(--accentColor);
    border: 2px solid var(--accentColor);
    border-radius: 10px;
    background-color: transparent;
    transition: background-color var(--mainDuration) var(--mainTimingFunction), color var(--mainDuration) var(--mainTimingFunction);


    &:hover {
        color: var(--secondaryBackgroundColor);
        background-color: var(--accentColor);
    }
    &:focus {
        color: var(--primaryTextColor);
        background-color: var(--accentColor);
    }

}