.contactsList {
    display: block;
    min-height: 30px;
    margin: 20px 5px;
    padding-left: 20px;
    font-size: 16px;
    color: white;
    list-style-type: circle;
    border: 1px solid orange;
    border-radius: 10px;
}